{% extends 'store/main.html' %} {% load static %} {% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="box-element">
      <a href="{% url 'store' %}" class="btn btn-outline-dark">
        &#x2190; Continue Shopping</a
      >
      <br /><br />
      <table class="table">
        <tr>
          <th>
            <h5>Items: <strong>3</strong></h5>
          </th>
          <th>
            <h5>totals: <strong>Ksh. 42</strong></h5>
          </th>
          <th>
            <a
              href="{% url 'checkout' %}"
              class="btn btn-success"
              style="float: right; margin: 5px"
              >Checkout</a
            >
          </th>
        </tr>
      </table>
    </div>
    <br />
    <div class="box-element">
      <div class="cart-row">
        <div style="flex: 2"></div>
        <div style="flex: 2"><strong>Item</strong></div>
        <div style="flex: 1"><strong>Price</strong></div>
        <div style="flex: 1"><strong>Quantity</strong></div>
        <div style="flex: 1"><strong>Total</strong></div>
      </div>
      <div class="cart-row">
        <div style="flex: 2">
          <img
            src="{% static 'images/image-placeholder.jpg' %}"
            alt="Placeholder"
            class="row-image"
          />
        </div>
        <div style="flex: 2">Product 1</div>
        <div style="flex: 1">Ksh. 20</div>
        <div style="flex: 1">
          <p class="quantity">2</p>
          <div class="quantity">
            <img
              src="{% static 'images/arrow-up.png' %}"
              alt="Add quantity"
              class="chg-quantity"
            />
            <img
              src="{% static 'images/arrow-down.png' %}"
              alt="Reduce quantity"
              class="chg-quantity"
            />
          </div>
        </div>
        <div style="flex: 1">Ksh. 40</div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
