{% extends 'store/main.html' %} {% load static %} {% block content %}
<div class="row">
  {% for product in products %}
  <div class="col-lg-4">
    {% if product.image %}
    <img
      src="{{ product.image.url }}"
      alt="Placeholder Image"
      class="thumbnail"
    />
    {% else %}
    <img
      src="{% static 'images/image-placeholder.jpg' %}"
      alt="Placeholder Image"
      class="thumbnail"
    />
    {% endif %}
    <div class="box-element product">
      <h6><strong>{{product.name}}</strong></h6>
      <hr />

      <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
      <a href="#" class="btn btn-outline-success">View</a>
      <h4 style="float: right">
        <strong>Ksh. {{product.price| floatformat:2}}</strong>
      </h4>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock%}
